{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context %}

{% macro extra() %}
  <input name="_add_another" type="submit" class="btn btn-large" value="{{ _gettext('Save and Add') }}" />
{% endmacro %}

{% block head %}
    {{ super() }}
    <link href="{{ admin_static.url(filename='select2/select2.css') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='datetimepicker/bootstrap-datetimepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="well well-small">
      <span class="icon-tasks">&nbsp;</span>
     <a href="/show_all_free_ips/crs4.it" target="new">Available IPs</a>
     <br>
  </div>

  <ul class="nav nav-tabs">
      <li>
          <a href="{{ return_url }}">{{ _gettext('List') }}</a>
      </li>
      <li class="active">
          <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
      </li>
	</ul>


  
  {% call lib.form_tag(form) %}
      {{ lib.render_form_fields(form, form_opts=form_opts) }}
      {{ lib.render_form_buttons(return_url, extra()) }}
  {% endcall %}
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ admin_static.url(filename='datetimepicker/bootstrap-datetimepicker.js') }}"></script>
  <script src="{{ admin_static.url(filename='admin/js/form.js') }}"></script>
{% endblock %}
