{% extends 'admin/model/list.html' %}

{# 
{% block head_css %}
        {{ super() }}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom_style.css') }}">
{% endblock %}
#}


{# {% block access_control %}
<ul class="nav pull-right">
	{% if session.logged_in %}
		{{ session }}
		<li>Ciao Nenno</li>
	{% endif %}
	<li><a href="{{ url_for('dispatch.components.ldap_endpoint.logout') }}">Logout</a></li>
</ul>
{% endblock %}

#}
