.navbar-brand {
	padding: 0px 0px 0px 10px;

}

.not-so-huge { 
	font-size: 27px;
}

.panel-heading {
	padding: 5px 15px;
}

div .ms-container {
	width: 100%;
	height: 450px;
}

div .ms-container .ms-list {
	height: 400px;
}


.custom-header {
    /*background: none repeat scroll 0 0 #000000;*/
    /*color: #FFFFFF;*/
    font-size: 17px;
    padding: 3px;
    text-align: center;
}


.ms-selectable::before {
	content: "Selectable items";
	font-size: 17px;
    padding: 3px;
    text-align: center;
}

.ms-selection::before {
	content: "Selected items";
	font-size: 17px;
    padding: 3px;
    text-align: center;
}


.add-subscriptions-submit {
	padding-top: 10px;
}

.users-container {
	padding-top: 20px;
}

.users-container h4 {
	padding-left: 15px;
}

.btn-circle.btn-small {
    border-radius: 25px;
    font-size: 9px;
    height: 12px;
    line-height: 0px;
    padding: 0px 0px 0px 1px;
    width: 13px;
}




pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.details-string { color: green; }
.details-number { color: darkorange; }
.details-boolean { color: blue; }
.details-null { color: magenta; }
.details-key { color: red; }

/*.details-key::before { display: block !important; }*/


pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
   }

.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
   }

/*#daily-slots-row-content, 
#monthly-slots-row-content,
#monthly-wall-row-content { */
.morris-data-columns {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}

#daily-slots-row-content .morris-hover-row-label {
    font-size: 1.5em;
}

#daily-stacked-slots-row-content .morris-hover-row-label {
    font-size: 1.5em;
}

#monthly-slots-row-content .morris-hover-row-label {
    font-size: 1.5em;
}

#monthly-wall-row-content .morris-hover-row-label {
    font-size: 1.5em;
}

#daily-slots-row-content .morris-hover-point {
    /*float: left;*/
}

.url-ref {
  display: none
}
