/* body { line-height: 1.5; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; } */
/* body { line-height: 1.5; font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif; color: #232323; font-size: 75%; } */

#page { line-height: 1.5; font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif; color: #232323; font-size: 75%; }

/* h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #3399cc; } */
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #434343; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }

h2 { font-size: 2em; margin-bottom: 0.75em; }

h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }

h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }

h6 { font-size: 1em; font-weight: bold; }

p { margin: 0 0 1.5em; }
p .left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p .right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

/* a { text-decoration: underline; color: #006699; } */
a { text-decoration: underline; color: #343434; }
/*a:visited { color: #006699; } */
a:visited { color: #454545; }
a:focus { color: #003366; }
a:hover { color: #003366; }
a:active { color: #006699; }

blockquote { margin: 1.5em; color: #666666; font-style: italic; }

strong, dfn { font-weight: bold; }

em, dfn { font-style: italic; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }

li ul, li ol { margin: 0; }

ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

table.striped tr:nth-child(even) td, table tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eeeeee; }

.quiet { color: #666666; }

.loud { color: #111111; }

.clear { clear: both; }

.nowrap { white-space: nowrap; }

.clearfix { overflow: hidden; *zoom: 1; }

.small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }

.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }

.first { margin-left: 0; padding-left: 0; }

.last { margin-right: 0; padding-right: 0; }

.top { margin-top: 0; padding-top: 0; }

.bottom { margin-bottom: 0; padding-bottom: 0; }

.container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; clear: both }

.container { min-height: 450px;}

.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-6m, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 { display: inline; float: left; margin-right: 10px; }
* html .column, * html .span-1, * html .span-2, * html .span-3, * html .span-4, * html .span-5, * html .span-6, * html .span-6m, * html .span-7, * html .span-8, * html .span-9, * html .span-10, * html .span-11, * html .span-12, * html .span-13, * html .span-14, * html .span-15, * html .span-16, * html .span-17, * html .span-18, * html .span-19, * html .span-20, * html .span-21, * html .span-22, * html .span-23, * html .span-24 { overflow-x: hidden; }

.last { margin-right: 0; }

.span-1 { width: 30px; }

.span-2 { width: 70px; }

.span-3 { width: 110px; }

.span-4 { width: 150px; }

.span-5 { width: 190px; }

.span-6 { width: 230px; }

.span-6m { width: 259px; }

.span-7 { width: 270px; }

.span-8 { width: 310px; }

.span-9 { width: 350px; }

.span-10 { width: 390px; }

.span-11 { width: 430px; }

.span-12 { width: 470px; }

.span-13 { width: 510px; }

.span-14 { width: 550px; }

.span-15 { width: 590px; }

.span-16 { width: 630px; }

/* .span-17 { width: 670px; } */
/* .span-17 { width: 678px; }  */

.span-17 { width: 100%; } 

.span-18 { width: 710px; }

.span-19 { width: 750px; }

.span-20 { width: 790px; }

.span-21 { width: 830px; }

.span-22 { width: 870px; }

.span-23 { width: 910px; }

.span-24 { width: 950px; margin: 0; }

input.span-1, textarea.span-1, select.span-1 { width: 30px; }
input.span-2, textarea.span-2, select.span-2 { width: 70px; }
input.span-3, textarea.span-3, select.span-3 { width: 110px; }
input.span-4, textarea.span-4, select.span-4 { width: 150px; }
input.span-5, textarea.span-5, select.span-5 { width: 190px; }
input.span-6, textarea.span-6, select.span-6 { width: 230px; }
input.span-6m, textarea.span-6m, select.span-6m { width: 259px; }
input.span-7, textarea.span-7, select.span-7 { width: 270px; }
input.span-8, textarea.span-8, select.span-8 { width: 310px; }
input.span-9, textarea.span-9, select.span-9 { width: 350px; }
input.span-10, textarea.span-10, select.span-10 { width: 390px; }
input.span-11, textarea.span-11, select.span-11 { width: 430px; }
input.span-12, textarea.span-12, select.span-12 { width: 470px; }
input.span-13, textarea.span-13, select.span-13 { width: 510px; }
input.span-14, textarea.span-14, select.span-14 { width: 550px; }
input.span-15, textarea.span-15, select.span-15 { width: 590px; }
input.span-16, textarea.span-16, select.span-16 { width: 630px; }
/* input.span-17, textarea.span-17, select.span-17 { width: 670px; } */
input.span-17, textarea.span-17, select.span-17 { width: 678px; }
input.span-18, textarea.span-18, select.span-18 { width: 710px; }
input.span-19, textarea.span-19, select.span-19 { width: 750px; }
input.span-20, textarea.span-20, select.span-20 { width: 790px; }
input.span-21, textarea.span-21, select.span-21 { width: 830px; }
input.span-22, textarea.span-22, select.span-22 { width: 870px; }
input.span-23, textarea.span-23, select.span-23 { width: 910px; }
input.span-24, textarea.span-24, select.span-24 { width: 950px; }

.append-1 { padding-right: 40px; }

.append-2 { padding-right: 80px; }

.append-3 { padding-right: 120px; }

.append-4 { padding-right: 160px; }

.append-5 { padding-right: 200px; }

.append-6 { padding-right: 240px; }

.append-7 { padding-right: 280px; }

.append-8 { padding-right: 320px; }

.append-9 { padding-right: 360px; }

.append-10 { padding-right: 400px; }

.append-11 { padding-right: 440px; }

.append-12 { padding-right: 480px; }

.append-13 { padding-right: 520px; }

.append-14 { padding-right: 560px; }

.append-15 { padding-right: 600px; }

.append-16 { padding-right: 640px; }

.append-17 { padding-right: 680px; }

.append-18 { padding-right: 720px; }

.append-19 { padding-right: 760px; }

.append-20 { padding-right: 800px; }

.append-21 { padding-right: 840px; }

.append-22 { padding-right: 880px; }

.append-23 { padding-right: 920px; }

.prepend-1 { padding-left: 40px; }

.prepend-2 { padding-left: 80px; }

.prepend-3 { padding-left: 120px; }

.prepend-4 { padding-left: 160px; }

.prepend-5 { padding-left: 200px; }

.prepend-6 { padding-left: 240px; }

.prepend-7 { padding-left: 280px; }

.prepend-8 { padding-left: 320px; }

.prepend-9 { padding-left: 360px; }

.prepend-10 { padding-left: 400px; }

.prepend-11 { padding-left: 440px; }

.prepend-12 { padding-left: 480px; }

.prepend-13 { padding-left: 520px; }

.prepend-14 { padding-left: 560px; }

.prepend-15 { padding-left: 600px; }

.prepend-16 { padding-left: 640px; }

.prepend-17 { padding-left: 680px; }

.prepend-18 { padding-left: 720px; }

.prepend-19 { padding-left: 760px; }

.prepend-20 { padding-left: 800px; }

.prepend-21 { padding-left: 840px; }

.prepend-22 { padding-left: 880px; }

.prepend-23 { padding-left: 920px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 { display: inline; float: left; position: relative; }

.pull-1 { margin-left: -40px; }

.pull-2 { margin-left: -80px; }

.pull-3 { margin-left: -120px; }

.pull-4 { margin-left: -160px; }

.pull-5 { margin-left: -200px; }

.pull-6 { margin-left: -240px; }

.pull-7 { margin-left: -280px; }

.pull-8 { margin-left: -320px; }

.pull-9 { margin-left: -360px; }

.pull-10 { margin-left: -400px; }

.pull-11 { margin-left: -440px; }

.pull-12 { margin-left: -480px; }

.pull-13 { margin-left: -520px; }

.pull-14 { margin-left: -560px; }

.pull-15 { margin-left: -600px; }

.pull-16 { margin-left: -640px; }

.pull-17 { margin-left: -680px; }

.pull-18 { margin-left: -720px; }

.pull-19 { margin-left: -760px; }

.pull-20 { margin-left: -800px; }

.pull-21 { margin-left: -840px; }

.pull-22 { margin-left: -880px; }

.pull-23 { margin-left: -920px; }

.pull-24 { margin-left: -960px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 { display: inline; float: left; position: relative; }

.push-1 { margin: 0 -40px 1.5em 40px; }

.push-2 { margin: 0 -80px 1.5em 80px; }

.push-3 { margin: 0 -120px 1.5em 120px; }

.push-4 { margin: 0 -160px 1.5em 160px; }

.push-5 { margin: 0 -200px 1.5em 200px; }

.push-6 { margin: 0 -240px 1.5em 240px; }

.push-7 { margin: 0 -280px 1.5em 280px; }

.push-8 { margin: 0 -320px 1.5em 320px; }

.push-9 { margin: 0 -360px 1.5em 360px; }

.push-10 { margin: 0 -400px 1.5em 400px; }

.push-11 { margin: 0 -440px 1.5em 440px; }

.push-12 { margin: 0 -480px 1.5em 480px; }

.push-13 { margin: 0 -520px 1.5em 520px; }

.push-14 { margin: 0 -560px 1.5em 560px; }

.push-15 { margin: 0 -600px 1.5em 600px; }

.push-16 { margin: 0 -640px 1.5em 640px; }

.push-17 { margin: 0 -680px 1.5em 680px; }

.push-18 { margin: 0 -720px 1.5em 720px; }

.push-19 { margin: 0 -760px 1.5em 760px; }

.push-20 { margin: 0 -800px 1.5em 800px; }

.push-21 { margin: 0 -840px 1.5em 840px; }

.push-22 { margin: 0 -880px 1.5em 880px; }

.push-23 { margin: 0 -920px 1.5em 920px; }

.push-24 { margin: 0 -960px 1.5em 960px; }

.prepend-top { margin-top: 1.5em; }

.append-bottom { margin-bottom: 1.5em; }

.showgrid { background: url('/../img/grid.png?1304268753'); }

.feedback, .error, .alert, .notice, .success, .info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.error a, .alert a { color: #8a1f11; }

.notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
.notice a { color: #514721; }

.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.success a { color: #264409; }

.info { background: #d5edf8; color: #205791; border-color: #92cae4; }
.info a { color: #205791; }

.hide { display: none; }

.highlight { background: yellow; }

.added { background: #006600; color: white; }

.removed { background: #990000; color: white; }

label { font-weight: bold; }

fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }

legend { font-weight: bold; font-size: 1.2em; }

input.text, input.title, input[type=email], input[type=text], input[type=password] { margin: 0.5em 0; background-color: white; padding: 5px; }
input.title { font-size: 1.5em; }

textarea { margin: 0.5em 0; padding: 5px; }

select { margin: 0.5em 0; }

fieldset { border: 1px solid #cccccc; }

input.text, input.title, input[type=email], input[type=text], input[type=password], textarea { background-color: #fff; border: 1px solid #bbbbbb; }
input.text:focus, input.title:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus { border: 1px solid #666666; }

select { background-color: #fff; border-width: 1px; border-style: solid; }

input.text, input.title, input[type=email], input[type=text], input[type=password] { width: 300px; }

textarea { width: 390px; height: 250px; }

/*body { background: transparent url(../img/background.gif) repeat-x scroll left top; }
#page { background: transparent url(../img/background.gif) repeat-x scroll left top; }*/

#bkg-shade {
        background-image: url('/static/img/sfondo_crs4_alpha.gif');
        background-position: left bottom;
        background-repeat: no-repeat;
}

#logo-header {
	float: left;
}

#logo-header a ,#logo-header a img {
        border: 0px;

}

ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

hr { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; }

#header h1 { font-size: 4em; font-weight: bold; margin-bottom: 0; }
#header .top-navigation { float: right; }
#header .top-navigation img { border: 0; }
#header .top-navigation .link { padding-left: 1.5em; }
#header .top-navigation .sitemap { background: transparent url(../img/sitemap.png) no-repeat scroll left center; }
#header .top-navigation .feeds { background: transparent url(../img/rss.png) no-repeat scroll left center; }

#content h1, #content h2, #content h3 { margin-top: 0; }

#sidebar div:first-child h3 { margin-top: 0; }
#sidebar h3 { background-color: #e9e9f3; padding: 0.5em; }
#sidebar p { padding-left: 1em; }
#sidebar ul, #sidebar ol { padding-left: 2.5em; list-style-image: url(../img/bullet.png); }
#sidebar li ul, #sidebar li ol { margin: 0 1.5em 0 0; }
#sidebar input { width: auto; }
#sidebar .calendar h3 { margin-bottom: 0; }
#sidebar .calendar .month-navigation { padding-bottom: 1.5em; }
#sidebar .calendar .month-navigation .month-previous { float: left; }
#sidebar .calendar .month-navigation .month-next { float: right; }
#sidebar .tags div { padding: 0 5px 0 18px; }
#sidebar .tags div ul { list-style-type: none; list-style: none; font-size: 1.5em; line-height: 1.8em; }
#sidebar .tags div ul, #sidebar .tags div ul li { margin: 0px; padding: 0px; display: inline; }
#sidebar .tags div ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
#sidebar .tags div ul .tag_1 { font-size: 0.75em; color: #001e2d; }
#sidebar .tags div ul .tag_2 { font-size: 1em; color: #00334c; }
#sidebar .tags div ul .tag_3 { font-size: 1.125em; color: #005b89; }
#sidebar .tags div ul .tag_4 { font-size: 2em; color: #0070a8; }
#sidebar .tags div ul .tag_5 { font-size: 2.25em; color: #0099e5; }
#sidebar .tags div ul .tag_6 { font-size: 3em; color: #00adff; }

table.month { margin-bottom: 0; }
/* table.month th.month { text-transform: uppercase; color: #006699; background: none; } */
table.month th.month { text-transform: uppercase; color: #434343; background: none; }
table.month th { text-transform: capitalize; color: #94949e; background-color: #e9e9f3; } 
table.month td { text-align: center; font-weight: bold; }
table.month td.entry { background-color: #e9e9f3; }

div.paginator { margin-bottom: 1.5em; }
div.paginator span { margin-left: 0.3em; padding: 0 0.5em 0 0.5em; float: left; border: 1px solid #e9e9f3; }
div.paginator span.index { margin-left: 0; }
div.paginator span.page:hover, div.paginator span.next:hover, div.paginator span.previous:hover { background-color: #006699; }
div.paginator span.page:hover a, div.paginator span.next:hover a, div.paginator span.previous:hover a { color: white; }
div.paginator span.current { border-color: #006699; background-color: #006699; color: white; }

.hentry .entry-header { margin-bottom: 1em; }
.hentry .entry-header .entry-title { margin: 0; padding-left: 0.25em; padding-right: 0.25em; }
.hentry .entry-header .entry-title a { padding-left: 0.8em; background: transparent url(../img/bullet_black.png) no-repeat scroll 0.15em; }
.hentry .entry-header .entry-info { margin: 0; padding-left: 2em; background: transparent url(../img/category.png) no-repeat scroll 0.5em; }
.hentry .entry-body .entry-content { padding-left: 1em; padding-right: 1em; }
.hentry .entry-body .entry-image { margin-top: -1.5em; }
.hentry .entry-body .entry-image p img { border: 0; margin: 0 1.5em 1.5em 0; max-width: 500px; max-height: 500px; }
.hentry .entry-footer p { margin-bottom: 0.5em; }
.hentry .entry-footer p strong { padding-left: 1.5em; }
.hentry .entry-footer .entry-tags strong { background: transparent url(../img/tags.png) no-repeat scroll; }
.hentry .entry-header .entry-shorturl { margin-bottom: 0.5em ; }
.hentry .entry-header .entry-shorturl span { margin: 0; padding-left: 2em; background: transparent url(../img/shorturl.png) no-repeat scroll 0.5em; }
.hentry .entry-footer .entry-comments strong { background: transparent url(../img/comments.png) no-repeat scroll; }
.hentry .entry-header { background-color: #e9e9f3; }
.hentry .entry-content p { font-size: 1.2em; }
.hentry .entry-content pre, .hentry .entry-content blockquote { overflow: auto; padding: 1em; clear: none; float: none; margin: 0 0 1.5em 0; width: auto; }
.hentry .entry-content blockquote { margin: 0 2em 1.5em 2em; border: 1px dashed #94949e; background-color: #fafaff; }
.hentry .entry-content blockquote p { font-size: 1.5em; margin: 0; }
.hentry .entry-content pre { line-height: 110%; background-color: #e9e9ff; border-top: 1px solid #94949e; border-bottom: 1px solid #94949e; }
.hentry .entry-footer { padding-bottom: 5px; }
.hentry .entry-footer p strong { color: #94949e; }

#content hr { margin: 0 0 2em; background: #aaaaaa; color: #aaaaaa;  }


.entry-body { border: 1px silver dotted; background-color: #F0F0F0; }

.featured .entry-header { background-color: #c4d9c4; }

ol#comment-list li, ol#pingback-list li, ol#trackback-list li { border: 1px solid #e9e9f3; margin-bottom: 5px; padding-bottom: 1em; }
ol#comment-list li.box2, ol#pingback-list li.box2, ol#trackback-list li.box2 { border-color: #94949e; background-color: #e9e9f3; }
ol#comment-list li.post-author, ol#pingback-list li.post-author, ol#trackback-list li.post-author { color: #94949e; }
ol#comment-list li img, ol#pingback-list li img, ol#trackback-list li img { padding: 5px; }
ol#comment-list li .pingback-body, ol#comment-list li trackback-body, ol#pingback-list li .pingback-body, ol#pingback-list li trackback-body, ol#trackback-list li .pingback-body, ol#trackback-list li trackback-body { padding: 5px; }
ol#comment-list li .comment-author, ol#comment-list li .pingback-author, ol#comment-list li .trackback-author, ol#pingback-list li .comment-author, ol#pingback-list li .pingback-author, ol#pingback-list li .trackback-author, ol#trackback-list li .comment-author, ol#trackback-list li .pingback-author, ol#trackback-list li .trackback-author { font-size: 1.2em; font-weight: bold; color: #666666; }


#top_link { float: right;}
#top_link .link { padding-left: 1.5em; }
#top_link .sitemap { background: transparent url(../img/sitemap.png) no-repeat scroll left center; }
#top_link .feeds { background: transparent url(../img/rss.png) no-repeat scroll left center; }


.entry-previous h3 { margin-bottom: 0.25em;}
.entry-next h3 { margin-bottom: 0.25em;}

.category-description { font-style:italic; }

#footer { padding-top: 230px; }

.single-hash { padding-left: 50px; }

.single-hash p { font-size: 1.3em; font-weight: bold; }

.disclaimer { margin-bottom: 20px; padding-left: 50px; }


.first-user { font-size: 1.5em; margin-bottom: 10px;}

.other-user {}



.timeline > li > .timeline-badge { 
	padding: 0px;
	font-size: 2.0em;
	}

.timeline > li > .timeline-panel {

}


.timeline > li > .timeline-panel > .timeline-heading h4 {
	font-size: 18px;
	font-weight: 500;
}

.timeline > li > .timeline-panel > .timeline-heading  p {
	font-size: 14px;
	color: rgb(119, 119, 119);
}

.timeline > li > .timeline-panel > .timeline-body {
	font-size: 16px;
}


@-ms-viewport{
  width: device-width;
}

@media(max-width:767px) {
	#header h1 {
		font-size: 2.1em;
	}

	#body {
		width: 300px;
	}

	body {
		width: 300px;
	}

}