{% extends "skeleton.html" %}


{% block head %}   
        <nav class="navbar navbar-default navbar-fixed-top top-nav-collapse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img class="navbar-brand" src='{{ url_for('static', filename='img/CRS4_d.png') }}' alt='Coltellino'/>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left" role="search" id="searchForm" action="javascript:search();">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." id="searchItem">
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="waitingDialog.show('Loading...', '','/arp');"><i class="fa fa-chevron-left"></i>&nbsp;Back</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>    
{% endblock %}

{% block body %}
    <div style="margin-top: 70px;">
                    <div>    
                        {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                  {% for message in messages %}
                                    <div class="alert alert-info">
                                      <span><i>{{ message }}</i></span>
                                    </div>
                                  {% endfor %}
                              {% endif %}
                        {% endwith %}
                    </div>
        <h2>Host: {{ip}}</h2>
        <div>
        	<ul class="timeline">
        {% for element in data %}

            {% if is_even(element['count'])  %}
                {% set classverse="inverted" %}
            {% else %}
                {% set classverse="straight" %}
            {% endif %}

			<li class="timeline-{{classverse}}">
                <div class="timeline-badge info"><i class="fa fa-desktop"></i>
                </div>
                <div class="timeline-panel" id="{{element['count'] }}">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Device: {{element['device']}}</h4>
                        <!--<p><small class="text-muted"><i class="fa fa-clock-o"></i></small></p>-->
                    </div>
                    <div class="timeline-body">
                        <p><a href="#" onclick="vlan.show('{{element['device']}}');">Vlan: {{element['vlan']}}</a></p>
                        <p><a href="#" onclick="interf.show('{{element['device']}}', '{{element['port']}}');">Port: {{element['port']}}</a></p>
                        <p><a href="#" onclick="description.show('{{element['device']}}', '{{element['port']}}', '{{element['description']}}');">Description: {{element['description']}}</a></p>
                    </div>
                </div>
            </li>

        {% endfor %}
        	</ul>
        </div>
    </div>        



{% endblock %}
