    <div id="footer">
                        <address class="copyright-notice">&copy; 1993 - 2016 - <strong><a href="http://www.crs4.it" ><img src='{{ url_for('static', filename='img/CRS4_d.png') }}' alt='Coltellino'/></a></strong>  - Loc. Piscina Manna, Edificio 1 - 09010 Pula (CA) - ITALY Phone: +39 070 92501 Fax: +39 070 9250216 Email: <a href="mailto:info@crs4.it?subject=info request">info@crs4.it</a> - P.IVA 01983460922  </address>
                        <div class="footer-award-images">       </div>
    </div>
 
