{% extends "skeleton.html" %}

{% block head %}
		<nav class="navbar navbar-default navbar-fixed-top top-nav-collapse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img class="navbar-brand" src='{{ url_for('static', filename='img/CRS4_d.png') }}' alt='Coltellino'/>
				</div>
			
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" role="search" id="searchForm" action="javascript:search();">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for..." id="searchItem">
							<span class="input-group-btn">
								<button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" onclick="refresh.show();"><i class="fa fa-refresh"></i>&nbsp;Upgrade DB</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-server"></span>&nbsp;Devices</a>
							<ul class="dropdown-menu scrollable-menu multi-level" role="menu">
								<li class="dropdown-header">Brocade</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Bora</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Bora');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Bora');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Maestrale</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Maestrale');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Maestrale');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Kamsin</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Kamsin');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Kamsin');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Genotyping</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Genotyping');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Genotyping');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Genotyping-2</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Genotyping-2');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Genotyping-2');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Scirocco</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Scirocco');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Scirocco');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Zefiro</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Zefiro');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Zefiro');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;FWS-Distretti</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('FWS-Distretti');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('FWS-Distretti');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Poe-CR</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Poe-CR');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Poe-CR');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;Poe-VT</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Poe-VT');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Poe-VT');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/brocade.png') }}">&nbsp;DR-Backup</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('DR-Backup');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('DR-Backup');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Dell Force10</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/dell.png') }}">&nbsp;Louisiane</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Louisiane');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Louisiane');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/dell.png') }}">&nbsp;Quebec</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Quebec');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Quebec');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">HP</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/hp.png') }}">&nbsp;Amministrazione</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Amministrazione');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Amministrazione');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/hp.png') }}">&nbsp;HP2626-DMZ</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('HP2626-DMZ');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('HP2626-DMZ');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/hp.png') }}">&nbsp;HP2828ClusterUp</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('HP2828ClusterUp');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('HP2828ClusterUp');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/hp.png') }}">&nbsp;HP2848ClusterDown</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('HP2848ClusterDown');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('HP2848ClusterDown');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/hp.png') }}">&nbsp;Medusa-SW</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Medusa-SW');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Medusa-SW');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Cisco</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/cisco.png') }}">&nbsp;CatDDN-Up</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('CatDDN-Up');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('CatDDN-Up');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/cisco.png') }}">&nbsp;CatDDN-Down</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('CatDDN-Down');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('CatDDN-Down');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Extreme Networks</li>
								<li class="dropdown-submenu">
									<a href="#"><img src="{{ url_for('static', filename='img/extreme.png') }}">&nbsp;Feun</a>
									<ul class="dropdown-menu">
										<li><a href="#" onclick="runCmd.show('Feun');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Run CMD</a></li>
										<li><a href="#" onclick="vlan.show('Feun');"><i class="fa fa-chevron-circle-right"></i>&nbsp;Port Vlan</a></li>
									</ul>
								</li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header"><i>&copy; 1993 - 2016 CRS4 - By HPCN Group</i></li>
							</ul>
						</li>
						<li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
{% endblock %}

{% block body %}
		<div style="margin-top: 70px;">
			<div>    
					{% with messages = get_flashed_messages() %}
								{% if messages %}
										{% for message in messages %}
											<div class="alert alert-info">
												<span><i>{{ message }}</i></span>
											</div>
										{% endfor %}
								{% endif %}
					{% endwith %}
			</div>
			<h2>IP address</h2>
			<div>
				<ul class="timeline">
			{% for element in data %}

					{% if is_even(element['count'])  %}
							{% set classverse="inverted" %}
					{% else %}
							{% set classverse="straight" %}
					{% endif %}

				<li class="timeline-{{classverse}}">
									<div class="timeline-badge info"><i class="fa fa-database"></i>
									</div>
									<div class="timeline-panel" id="{{element['_id'] }}">
											<div class="timeline-heading">
													<h4 class="timeline-title"><a href="#" onclick="waitingDialog.show('Loading...','','/desc?mac={{element['mac']}}&ip={{element['_id'] }} - {{dns(element['_id']) }}');">IP: {{element['_id'] }} - {{dns(element['_id']) }}</a></h4>
													<p><small class="text-muted"><i class="fa fa-clock-o"></i> {{fDate(element['update'])}}</small></p>
											</div>
											<div class="timeline-body">
													<p><a href="#" onclick="mac.show('{{element['mac']}}');">MAC: {{element['mac']}}</a></p>
											</div>
									</div>
							</li>

			{% endfor %}
				</ul>
			</div>
		</div>        
{% endblock %}
