{% extends "skeleton.html" %}

{% block head %}
    <div>&nbsp;</div>
{% endblock %}

{% block body %}
    <div id="logo-header" style="margin-top: 70px;">
        <center>&nbsp;</center>
    </div>
    <br />
    <div class="container" id="login" height="100%">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" style="-webkit-box-shadow: 0 0px 0px !important; box-shadow: 0 0px 0px !important; border: 0px !important; background-color: transparent !important;">
                    <div class="panel-heading" style="border-color: transparent !important; background-color: transparent !important;">
                        <div class="text-center">
                            <img src='{{ url_for('static', filename='img/logo.png') }}' alt='Coltellino'/>
                        </div>
                    </div>
                    <div class="panel-body" style="border: 0px !important; border-color: transparent !important; background-color: transparent !important;">
                        <!-- <form role="form"> -->
                        <form action="{{ url_for('login') }}" method=post>
                            {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="input input-group-lg" style="position: relative;">
                                    <input style="padding: 10px 16px 10px 50px !important;" class="form-control" placeholder="Username" name="username" type="username" autofocus><i class="fa fa-user" style="color: rgb(129, 99, 100); width: 15px; font-size: 20px; position: absolute; left: 18px; top: 14px; z-index: 100;"></i>
                                </div>
                                <div>&nbsp;</div>
                                <div class="input input-group-lg" style="position: relative;">
                                    <input style="padding: 10px 16px 10px 50px !important;" class="form-control" placeholder="Password" name="password" type="password" value=""><i class="fa fa-lock" style="color: rgb(129, 99, 100); width: 15px; font-size: 20px; position: absolute; left: 18px; top: 14px; z-index: 100;"></i>
                                </div>
                                <div>&nbsp;</div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                            </fieldset>
                        </form>
                        <hr />
                        <p align="center" style="color: rgb(119, 119, 119) !important; font-size: smaller;">Copyright &copy; 1993 - 2016 - CRS4 S.r.l.<strong></strong></p>
                        {# {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} #}
                        {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                    <br />
                                  {% for message in messages %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      <span><i>{{ message }}</i></span>
                                    </div>
                                  {% endfor %}
                              {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div id="footer" style="position: absolute; bottom: 0%">
    </div>
{% endblock %}
