<!doctype html>
<html lang="en">
<head>
  <title>CRS4 - ARP Table</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="{{ url_for('static', filename='jquery-2.1.4.min.js')}}"></script>
  <script src="{{ url_for('static', filename='jquery-ui/jquery-ui.min.js')}}"></script>
  <script src="{{ url_for('static', filename='jquery.validate.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-waitingfor.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-mod-description.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-mod-interf.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-mod-vlan.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-run-cmd.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-mod-mac.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-mod-refresh.js')}}"></script>
  <script>
    $('[data-toggle="tooltip"]').tooltip();
    var ids = new Array();
    var last_p = "";
    var last_e; 

    function search() {
       var name = document.getElementById("searchForm").elements["searchItem"].value;
       var pattern = name.toLowerCase();
       var targetId = "";
       Element.prototype.documentOffsetTop = function () {
          return this.offsetTop + ( this.offsetParent ? this.offsetParent.documentOffsetTop() : 0 );
       };
       var divs = document.getElementsByClassName("timeline-panel");
       var exit = false;
       for (var i = 0; i < divs.length; i++) {
          var para = divs[i].getElementsByTagName("div");
          targetId = divs[i].id;
          divs[i].removeAttribute("style");
          for (var l = 0; l < para.length; l++) {
            if ((last_e != document.getElementById(targetId)) && (last_e)) { 
              last_e.removeAttribute("style"); 
              console.log(last_e);
            }
            var index = para[l].innerText.toLowerCase().indexOf(pattern);
            if (pattern != last_p) {
              ids = [];
            }
            if ((index != -1) && (pattern != "") && (ids.indexOf(document.getElementById(targetId)) == -1)) {
               var scroll_to = document.getElementById(targetId).documentOffsetTop() - ( window.innerHeight / 7 );
               divs[i].style.backgroundColor = "#D9EDF7";
               window.scrollTo( 0, scroll_to );
               if (pattern != last_p) {
                  ids = [];
                  ids.push(document.getElementById(targetId));
               } else {
                  ids.push(document.getElementById(targetId));
               }
               exit = true;
               last_p = pattern;
               last_e = divs[i];
               break;
            } else if (pattern == "") {
               window.scrollTo( 0, 0 );
               divs[i].removeAttribute("style");
               exit = false;
               last_e = "";
               ids = [];
            } else if (document.getElementById(targetId) == ids[ids.length-1]) {
               divs[i].style.backgroundColor = "#D9EDF7";
               exit = false;
            } else {
               exit = false;
               divs[i].removeAttribute("style");
            }
          }
          if (exit) {
            break;
          }
       }  
    }
  </script>
  <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
  
  <link href="{{ url_for('static', filename='css/select2.css') }}" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='img/apple-touch-icon-57x57.png')}}"/>
  <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='img/apple-touch-icon-72x72.png')}}"/>
  <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='img/apple-touch-icon-114x114.png')}}"/>
  <link rel="apple-touch-startup-image" href="{{url_for('static', filename='img/apple-touch-splash.png')}}"/>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link href="{{ url_for('static', filename='font-awesome-4.4.0/css/font-awesome.min.css')}}" rel="stylesheet">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='timeline.css') }}">
  <style>
    .modal.modal-wide .modal-dialog {
      width: 90% !important;
      margin-top: -10% !important;
    }
    .scroll-bar {
      overflow-y: auto !important;
    }
    @media screen and (max-width: 600px) {
      #footer {
        visibility: hidden;
        display: none;
      }
    }
    #footer {
        display: initial;
    }    
    .dropdown-menu {
      width: 300px !important;
    }
    label.valid {
      width: 24px;
      height: 24px;
      display: inline-block;
      text-indent: -9999px;
    }
    label.error {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }
    .scrollable-menu {
      height: auto;
      max-height: 80vh;
      overflow-y: scroll;
      overflow-x: hidden; 
    }
  </style>
</head>
<body>
  <div id="page">

     <div id="bkg-shade">

      {% block head %}
        {% include 'header.html' %}
      {% endblock %}

      <div class="container">

            <div id="body" class="span-24 last">
              <div id="content" class="hfeed span-17 border">

                {% block body %}
                  <h3>The content block need to be overrided!</h3>
                {% endblock %}

              </div>
      {% block footer %}
              {% include 'footer.html' %}
      {% endblock %}
            </div>
      </div>
     </div>

  </div>
</body>
</html>
