<!doctype html>
<title>DNS !</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom_style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

<link href="/admin/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/admin/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/admin/static/admin/css/admin.css" rel="stylesheet">
<script src="/admin/static/vendor/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/admin/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<script>
	window.onload = function() {
 		 var input = document.getElementById("username").focus();
}
</script>

<div class=page>
	  <div class="main-brand">CRS4</div>
	  <h1>DNS administration panel</h1>
	  <div class=metanav>
	
	  {% if not session.logged_in %}
	    <a href="{{ url_for('dispatch.components.ldap_endpoint.login') }}">log in</a>
	  {% else %}
	    <a href="{{ url_for('dispatch.components.ldap_endpoint.logout') }}">log out</a>
	  {% endif %}
	

	  </div>

	  {% for message in get_flashed_messages() %}
	    <div class=flash>{{ message }}</div>
	  {% endfor %}

	  {% block body %}{% endblock %}
</div>


