{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('dispatch.components.ldap_endpoint.login') }}" method=post>
    {{ form.hidden_tag() }}
    <dl>
      <dt>Username:
      <dd><input id=username type=text name=username autofocus>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}
