<!doctype html>
<title>DNS !</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom_style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">

<link href="/admin/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/admin/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/admin/static/admin/css/admin.css" rel="stylesheet">
<script src="/admin/static/vendor/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/admin/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


<body>
	<div class=container>
		<div class="main-brand">CRS4</div>
		{% block body %}{% endblock %}
	</div>
</body>



