{% extends "normal_layout.html" %}

{% block body %}
  <h2>Available IPs</h2>
  	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  	<div class="row">
  	{% for k in ordered_keys %}
  		<div class="span2"><a href="#{{k}}">{{ k }}</a></div>
  	{% endfor %}
    </div>

    <hr>
  	{% for k in ordered_keys %}
  		<div>
  			<div class="row">
	  			<h3>{{ k }} - <small>{{ labels[k] }}</small></h3>
	  			<a name="{{k}}"></a>
	  			{% for ip_free in ip_list_stripped[k] %}
	  				<div class="span1"><b>{{ ip_free }}</b></div>
	  			{% endfor %}
	  		</div>
  		</div>
  	{% endfor %}
{% endblock %}

