{% extends 'admin/master.html' %}


{% block head_css %}
        {{ super() }}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom_style.css') }}">
{% endblock %}

{% block access_control %}
<ul class="nav pull-right">
	{% if g.user.is_authenticated()%}
		<li><p class="greetings">Hi {{g.user.name}}!</p></li>
		<li><a href="{{ url_for('dispatch.components.ldap_endpoint.logout') }}">Logout</a></li>
	{% else %}
		<li><a href="{{ url_for('dispatch.components.ldap_endpoint.login') }}">Login</a></li>
	{% endif %}
</ul>
{% endblock %}

{% block body %}
     <div class="row">
        <div class="span6">
          <h2>Records</h2>
          <p>Here you can manage records</p>
          <p><a class="btn" href="{{ url_for('recordsview.index_view') }}">View details &raquo;</a></p>
        </div>
		</span>
		<div class="span6">
          <h2>Domains</h2>
          <p>Here you can manage domains</p>
          <p><a class="btn" href="{{ url_for('domainsview.index_view') }}">View details &raquo;</a></p>
        </div>
		</span>
	</div>
{% endblock %}
