{% extends admin_base_template %}

{% block head_css %}
        {{ super() }}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom_style.css') }}">
{% endblock %}

{% block access_control %}
<ul class="nav pull-right">
	{% if g.user.is_authenticated()%}
		<li><p class="greetings">Hi {{g.user.name}}!</p></li>
		<li><a href="{{ url_for('dispatch.components.ldap_endpoint.logout') }}">Logout</a></li>
	{% else %}
		<li><a href="{{ url_for('dispatch.components.ldap_endpoint.login') }}">Login</a></li>
	{% endif %}
</ul>
{% endblock %}
