.pull-right li p.greetings {
	padding: 10px 15px;
	margin-bottom: 0px;
}

.main-brand, .brand {
 display: inline-block;
 text-indent: -9999px;
 width: 218px;
 height: 66px;
 background: url(/static/images/CRS4-colori-small.png) center center no-repeat;
}


.brand {
	height: 18px;

}
